language: python

cache: pip

python:
  - 2.7
  - 3.6

env:
  global:
    - TEST_DIR=/tmp/_topo/

before_install:
  - pip install pip --upgrade

install:
  - pip install -e .[dev]

script:
  - mkdir -p $TEST_DIR
  - cd $TEST_DIR && python -m pytest --black  --cov=topojson  --pyargs  --doctest-modules topojson
